{# Copyright 2014 BaseKit Platform Ltd #}
{% extends "layout.twig" %}
{% block class %}bk-pt-menu{% endblock %}
{% block content %}

<div class="bk-pt-menu__menusections">
    {{widget('menusections', 'menusectionsnav', {})|raw}}
</div>

<div class="bk-pt-menu__menu">
    {{widget('menu', 'menu', {})|raw}}
</div>

{% endblock %}
