<div class="template-footer">

        <!-- Page Content -->
        <section class="template-content">
            {{widget('profile', 'copyright', { 'profileType':'form', 'form':'profile'})|raw}}
        </section>
        <!-- End Page Content -->

</div>
